html,body {
  height: 100%;
}
.main {
  padding-top:120px; /*高さ120pxのheaderだから、その分空けてあげて*/
}
div#container{
    position: relative;      /* フッターを位置指定するための基準設定を、まずフッターの親に書くよ */
    min-height: 100%;        /* 全部囲ってるdiv#containerは、”最低でも”高さ100%（＝ブラウザ画面めいっぱい）にしてね */
                             /* min-heightは最低限の高さを指定するプロパティ。コンテンツ量が増えれば、高さは伸びるよ */
    height: auto !important; /* IE6じゃmin-height使えないからIE6専用にこの行と次の行をこう書くよ */
    height: 100%
}
footer {
  position: absolute;  /* フッターを絶対配置に指定する設定 */
  bottom: 0;           /* フッターを一番下に置くぜ！ */
  width: 100%;
  height: 50px;        /* フッターの高さ */
}