@charset "utf-8";

/*-------------------------------------
* base
*-------------------------------------*/

html {
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif,"Hiragino Kaku Gothic ProN", Meiryo;
}
body,
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
*,*::before,*::after{
  box-sizing: border-box;
}
h1,h2,h3,p,.list th,.list td{
  letter-spacing: 1px;
  line-height: 1.5;
}
h1
{
  margin: 0;
  padding: 0; 
}
h2
{
  margin: 0 0 20px -0;
  padding: 0 0 0 12px;
	font-size: 20px;
  border-left: 12px solid #f90;
  text-align: start;
}
h3
{
  margin: 0;
  padding: 0;
	font-size: 16px;
  text-align: start;
}
p
{
  margin: 0 0 16px 0;
  padding: 0;
  text-indent: 1em;
  text-align: start;
}
a:link, a:visited, a:focus
{
  outline: none;
  text-decoration: none;
  color: #00f;
}
a:hover, a:active
{
  outline: none;
  text-decoration: underline;
}
a.external
{
  display: inline-block;
  margin: 0;
  padding: 0 20px 0 0;
  background-image: url("imgs/icon_link.png");
  background-repeat: no-repeat;
  background-position: 100% 30%;
  color: #00f;
}
/* a,a:hover,a:link {
  color: #d03c56;
  text-decoration: none;
} */

/*-------------------------------------
* parts
*-------------------------------------*/
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
a.button
{
  outline: none;
  text-decoration: none;
}
/*-------------------------------------
* header
*-------------------------------------*/
.header {
  position: fixed;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px 50px;
  text-align: center;
}
.top-logo
{
  display: inline-block;
  padding: 10px;
  margin: 0;
  background-color: #000;
}
.top-logo img
{
  display: inline-block;
  margin: 0 0 -14px 0;
  padding: 0;
  width: 75%;
  height: auto;
}
.top-logo a:hover {
  opacity: 0.8;
}
.global_nav {
  display: inline-block;
  vertical-align: middle;
}
.nav_item {
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 20px;
}
.nav_item a {
  display: inline-block;
  width: 140px;
  height: 50px;
  line-height: 3;
  color: #fff;
  /* transition: 0.3s ease-in-out; */
  border-radius: 10px;
}
.nav_item a:hover {
  text-decoration: none;
  background-color: rgba(255,255,255,0.75);
  color: #000;
}
/*-------------------------------------
* main
*-------------------------------------*/
.main {
  /* padding: 130px; */
  padding-top: 8%;
}
#index .main {
  background: #151515 url("../imgs/index_bg.jpg")no-repeat center;
  background-color:rgba(255,255,255,0.3);
  background-blend-mode:lighten;
  background-size: cover;
  min-height: 95vh;
}
#index .footer {
  height: 5vh;
}
/*index.html main内*/
.inner {
  position: relative;
  width: 50%;
  min-width: 600px;
  min-height: 500px;
  margin: 0 auto;
}
.content {
  width: 550px;
  margin: 0 auto 30px;
}
/* --- index.html text ---*/
.intro
{
  /* margin: 120px 0; */
  padding: 120px 0;
  text-align: center;
  color: #f90;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.info
{
  display: inline-block;
  position: absolute;
  bottom: 20%;
  right: 0%;
}
.info dt
{
  display: inline-block;
  font-weight: bold;
  margin-bottom:10px;
}
.info dd
{
  font-size: 1.4rem;
  margin: 10px 0 0 86px;
  line-height: 1.5;
}
.info a
{
  position: relative;
  display: block;
  outline: none;
  text-decoration: none;
  color: #333;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.4rem;
  transition: 0.3s ease-in-out;
}
.info a:hover {
  /* border: 1px solid gray; */
  box-shadow: 5px 10px 5px rgba(0,0,0,0.20);
  transform: translateY(-4px);
}
.info .title {
  position: absolute;
  margin: 0; 
  top: 0;
  left: 15%;
  font-size: 1.5rem;
}
.logo {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 2%;
  width: 50px;
  height: 20px;
  line-height: 2;
  font-size: 1.0rem;
  color: #fff;
  border-radius: 5px;
}
.logo.product {
  background-color: #f90;
  padding-left: 15px;
  width: 70px;
}
/* 768px以下のみ出現*/
.hidden {
  display: none;
}

/* .intro .empty
{
  min-width: 360px;
} */
/* --- recuruit&company text ---*/
.list
{
  display: inline-block;
  border-collapse: collapse;
}
.list th
{
  margin: 0;
  min-width: 150px;
  padding: 12px 20px 2px 0;
  vertical-align: top;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px dashed #ccc;
}
.list td
{
  padding: 12px 4px 2px 0;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px dashed #ccc;
  line-height: 2rem;
}
/* --- company googlegmap ---*/
.ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.ggmap iframe,
.ggmap object,
.ggmap embed {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 600px;
  max-height: 450px;
}
/*-------------------------------------
* footer
*-------------------------------------*/
.footer {
  padding: 15px 0;
  background: #000;
  color: #fff;
  margin-top: auto;
}
.copyright {
  background-color: #000;
  margin: 0;
  letter-spacing: 1px;
  text-align: center;
}


/*-------------------------------------
* smartphone
*-------------------------------------*/
@media (max-width:768px) {
  /* --- base ---*/
  h2 {
    font-size: 1.2rem;
  }
  h3,p {
    font-size: 1.0rem;
  }
  .list th {
    min-width: initial;
    width: 25%;
    /* min-width: 100px; */
    font-size: 1.1rem;
    padding: 5px 10px 2px 0;
  }
  .list td {
    width: 70%;
    font-size: 1.0rem;
    padding: 5px 2px 2px;
  }
  /* --- header ---*/
  .header {
    padding: 10px;
    z-index: 1;
  }
  .top-logo {
    padding-bottom: 5px;
  }
  .global_nav {
    display: block;
  }
  .nav_item {
    font-size: 1.0rem;
    margin: 0;
  }
  .nav_item a {
    width: 80px;
    height: 25px;
    line-height: 2.2;
  }
  /* --- main ---*/
  .main {
    padding-top: 130px;
  }
  #index .main {
    background: none;
    padding-top: 120px;
    min-height: 150px;
  }
  #index .footer {
    height: auto;
  }
  .intro {
    display: none;
  }
  .inner {
    width: 80%;
    /*position 解除*/
    position: static;
    /*min-height 解除*/
    min-height: initial;
    min-width: 300px;
  }
  .info {
    /*position 解除*/
    display: block;
    position: static;
    /* width: 80%; */
    /* min-width: 100%; */
    min-width: 300px;
    margin: 50px auto 20px;
  }
  .info a {
    position: relative;
  }
  .info dd {
    font-size: 1.0rem;
    margin: 10px 0 0 53px;
    line-height: 1.5;
  }
  .info .title {
   position: absolute;
   margin: 0; 
   top: 5%;
   left: 15%;
   font-size: 1.0rem;
  }
  .logo {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;
    line-height: 2;
    font-size: 1.0rem;
    color: #fff;
  }
  .logo.product {
    background-color: #f90;
    padding-left: 2px;
    width: 45px;
  }
  .logo.company {
    background-color: skyblue;
  }
  .logo.recruit{
    background-color: greenyellow;
    padding-left: 3px;
    width: 45px;
  }
  .content {
    width: 250px;
  }
  /* --- footer ---*/
  .footer {
    font-size: 1.2rem;
  }
}